
<div class="jumbotron text-white text-center bg-img">
    <h1 class="display-4">Welcome</h1>
    <p class="lead jumbo-text">The {{institute.name}} offers professional courses that are designed to help further your career.Our programs run the gamut from leadership and personal development to engineering and IT.</p>
    <a class="btn btn-primary btn-lg" routerLink="/course-list" role="button">Courses</a>   
     </div>

     <div class="card-group">
        <div class="card" style="width: 15rem;"  *ngFor="let course of courses">
            <img src="{{course.image}}" class="card-img-top" alt="{{course.title}}" style="height: 13rem;">            
            <div class="card-body">
              <h5 class="card-title">{{course.title}}</h5>
              <p class="card-text">{{course.description}}</p>
            </div>
          </div>
        </div>

  